<div class="dashboard">
  <h1>Personal Finance Tracker</h1>
  <app-add-transaction ></app-add-transaction>
  <div class="summary">
    <div><strong>Total Income:</strong> {{ totalIncome | currency:'INR' }}</div>
    <div><strong>Total Expense:</strong> {{ totalExpense | currency:'INR' }}</div>
    <div><strong>Balance:</strong> {{ balance | currency:'INR' }}</div>
  </div>

  <div class="transaction-list-header">
    <h2>Transaction List
      <button *ngIf="transactions.length > 0" (click)="exportToExcel()" class="download-excel-btn">Export to Excel</button> 
    </h2>
    <input *ngIf="transactions.length > 0" type="text" [(ngModel)]="searchText" placeholder="Search transactions" />
    <div class="button-container" *ngIf="transactions.length > 0">
      <button (click)="clearAll()" class="clear-all-btn">Clear All</button>
      <button (click)="downloadPDF()" class="download-pdf-btn">Download PDF</button>
    </div>
  </div>

  <table>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let txn of paginatedTransactions">
      <td>{{ txn.date | date: 'dd-MM-yy' }}</td>
      <td>{{ txn.type }}</td>
      <td>{{ txn.category }}</td>
      <td>{{ txn.amount | currency: 'INR' }}</td>
      <td>
        <button (click)="deleteTransaction(txn.id)" class="delete-btn">Delete</button>
      </td>
    </tr>
  </table>

  <div class="pagination-controls">
    <button class="previous-page-btn" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages() }}</span>
    <button class="next-page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
  </div>
</div>
